<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="libs/angular.min.js"></script>
<title>Angular js Directives</title>
</head>
<body>
	<h1>Angular js Directives</h1>
	<div ng-app=""
		ng-init="countries=[{locale:'en-US',name:'United States'},
		{locale:'en-GB',name:'United Kingdom'},
		{locale:'es-CO',name:'Colombia'},
		{locale:'es-MX',name:'Mexico'}]">

		<p>
			Enter your name: <input type="text" ng-model="name" />
		</p>
		<p>
			<span ng-bind="name"></span>!
		</p>

		<br></br>
		<p>List of countries:</p>
		<ol>
			<li ng-repeat="country in countries">
				{{'Country: '+country.name + ', locale: '+ country.locale}}
<!-- 				Country: {{country.name}} , locale: {{country.locale}} -->
			</li>
		</ol>
	</div>

</body>
</html>