<html>
<head>
<script src="libs/angular.min.js"></script>
<script src="controllers/studentController.js"></script>

<title>Angular JS Controller</title>
<!-- https://www.w3schools.com/angular/angular_controllers.asp -->
</head>
<body>
	<h2>AngularJS Sample Application</h2>
	<div ng-app="myApp" ng-controller="personCtrl">

		First Name: <input type="text" ng-model="firstName"><br>
		Last Name: <input type="text" ng-model="lastName"><br> <br>
		Full Name: {{fullName()}}

	</div>

	
</body>
</html>